@model List<Product>

<table>
    <!-- Table headers -->
    <tr>
        <th>Name</th>
        <th>Year</th>
        <th>NumParts</th>
        <th>Price</th>
        <th>ImgLink</th>
        <th>Actions</th>

    </tr>
    <!-- Table data -->
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Year</td>
            <td>@product.NumParts</td>
            <td>@product.Price</td>
            <td>@product.ImgLink</td>
            <td><a class=" btn btn-info" asp-controller="Home" asp-action="Edit" asp-route="@product.ProductId">Edit</a></td>
            <td><a class=" btn btn-danger" asp-controller="Home" asp-action="" asp-route="@product.ProductId">Delete</a></td>
        </tr>
    }
</table>