@model List<Order>

<!DOCTYPE html>
<html>
<head>
    <title>Admin Page - Past Orders</title>
    <style>
        body {
            background: linear-gradient(to right, #A7CFFB, #067CFE);
            margin: 0;
            padding: 0;
        }
        nav {
            background-color: #006FE3;
            padding: 10px;
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            width: 150px;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        nav ul li {
            margin-bottom: 5px;
        }
        nav ul li a {
            display: block;
            padding: 10px;
            color: white;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }
        nav ul li a:hover {
            background-color: #004E9C;
        }
        table {
            border-collapse: collapse;
            margin-left: 170px; /* Adjust this value to leave space for the navigation menu */
            width: calc(100% - 170px); /* Adjust this value to leave space for the navigation menu */
            border: 2px solid #006FE3;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #006FE3;
        }
        th {
            background-color: #006FE3;
            color: white;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        .filter-container {
            margin-bottom: 10px;
        }
        .filter-container label {
            display: block;
        }
        .filter-container input[type="text"],
        .filter-container select {
            width: 200px;
            margin-bottom: 5px;
        }
        .search-button {
            float: right;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
   <nav>
       <ul>
           <li><a asp-controller="Home" asp-action="Orders">Orders</a></li>
           <li><a asp-controller="Home" asp-action="AdminProducts">Admin Products</a></li>
           <li><a asp-controller="Home" asp-action="AddProduct">Add Products</a></li>
           <li><a asp-controller="Home" asp-action="AdminUsers">Admin Users</a></li>
       </ul>
   </nav>


    <table>
        <tr>
            <th>TransactionId</th>
            <th>Date</th>
            <th>Amount</th>
            <th>ShippingAddress</th>
            <th>Fraud</th>
        </tr>
        @foreach (var o in Model)
        {
            <tr>
                <td>@o.TransactionId</td>
                <td>@o.Date.ToShortDateString()</td>
                <td>@o.Amount</td>
                <td>@o.ShippingAddress</td>
                <td>@(o.Fraud ? "Yes" : "No")</td>
            </tr>
        }
    </table>

</body>
</html>
