@using Intex2024.Infrastructure
@{
}

@model Product

<style>
    .card {
        width: 260px; /* Set the width of the card */
    }

    .card-img-top {
        width: 259px; /* Set the width of the image */
        height: 200px; /* Set the height of the image */
        object-fit: cover; /* Maintain aspect ratio */
    }

    .form-inline form {
    display: inline-block;
    }
</style>

<div class="col-sm my-2">
    <div class="card">
        <img src="@Model.ImgLink" class="card-img-top" alt="@Model.Name">
        <div class="card-body">
            <h6 class="card-title">@Model.Name</h6>
            <p class="card-text">$@Model.Price</p>
            <div class="form-inline">
                <form id="@Model.ProductId" method="post" asp-page="/Cart">
                    <input type="hidden" asp-for="ProductId" />
                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                </form>
                <form method="get" asp-page="/ProductDetails" asp-route-id="@Model.ProductId">
                    <button type="submit" class="btn btn-outline-danger">View Details</button>
                </form>
            </div>
        </div>
    </div>
</div>
